<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8" />
  <title>株式会社NEXTORM I</title>
</head>
<body>
  <div id="container">
    <h1>株式会社NEXTORM I</h1><br>
    <h2 id="menu">メニュー</h2>
  <ul>
    <div class="box">
    <li><a href="#bbbb">会社概要</a></li>
    </div>
    <div class="box">
    <li><a href="#cccc">MEMBER</a></li>
    </div>
    <div class="box">
    <li><a href="#dddd">お問い合わせ</a></li>
    </div>
  </div>
  </ul>
<div id="container2">
  <div class="title">
    <h1><strong>株式会社NEXTORM I</strong></h1>
  </div>
<hr>
<h3 id="bbbb">会社概要</h3>
<hr><br>
<p class="garandhill">社名</p><br>
<p>株式会社NEXTORM I</p><br><br>

<p class="garandhill">創業</p><br>
<p>2015年４月４日</p><br><br>

<p class="garandhill">資本金</p><br>
<p>1,000,000円</p><br><br>

<p class="garandhill">役員</p><br>
<p>代表取締役　　奈良慎太郎</p><br>
<p>取締役　　　　塚崎浩平</p><br><br>

<p class="garandhill">事業内容</p><br>
<p>ウェブサイト構築</p><br><br>

<p class="garandhill">本社</p><br>
<p>渋谷区五右衛門1-2-3 freedomhillレジデンス301</p><br>
<hr>
<h3 id="cccc">MEMBER</h3>
<hr><br>
<p>代表取締役 / Co-Founder CEO Markter　奈良慎太郎</p>
<%= image_tag 'IMG_1033.JPG', :size => '200x150' %><br>
<p>取締役 / Co-Founder COO Marketer　塚崎浩平</p><br>
<%= image_tag 'IMG_4939.JPG', :size => '200x150' %><br>
<p>Engineer　坂口逹彦</p><br>
<%= image_tag 'IMG_4920.JPG', :size => '200x150' %><br>
<p>Engineer　石川諒　</p><br>
<%= image_tag 'IMG_4942.JPG', :size => '200x150' %><br>
<p>Engineer　吉岡佳輔</p><br>
<%= image_tag 'YSO.JPG', :size => '200x150' %><br>


<hr><br>
<h3 id="dddd">お問い合わせ</h3>
<hr><br>
<p1>名前</p1><br>
<input type="text" placeholder="名前を入力してください"><br>
<p2>Eメールアドレス</p2><br>
<input type="text" placeholder="Eメールアドレスを入力してください"><br><br><br>
<textarea></textarea><input type="submit">
<br><br><br><br><br><br><br><br><br><br>
</div>
  </body>
</html>